In [ ]:
# pyspark Dataframe
# Reading the dataset
# Checking the datatypes of the columns
# Selecting Columns and indexing
# Check describe option to similar pandas
# adding Columns 
# dropping columns

In [15]:
import pyspark,os
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Practice2").getOrCreate()

In [17]:
os.chdir(r"/home/ABC/Documents/Pyspark/")

In [32]:
# Reading the Dataset
SC_df = spark.read.csv(r"/home/ABC/Documents/Pyspark/Practice2.csv",header=True,inferSchema=True,sep=",")

In [79]:
# checking the datatypes of the column
print(SC_df.dtypes)
print(" "*40)
print(type(SC_df["Name"]))
print(" "*40)
print(SC_df.printSchema())
print(" "*40)
print(type(SC_df.columns))

[('Name', 'string'), ('Experience', 'int')]

<class 'pyspark.sql.column.Column'>

root
 |-- Name: string (nullable = true)
 |-- Experience: integer (nullable = true)

None

<class 'list'>

In [35]:
# Selecting Columns and indexing
SC_df.select("Name")         # Single  Column
SC_df.select(["Age","Name"]) # For mutiple columns

DataFrame[Age: int, Name: string]

In [31]:
SC_df.show()

+----------+---+----------+
|      Name|Age|Experience|
+----------+---+----------+
|     Trump| 74|         5|
|      Modi| 70|         7|
|xi jinping| 67|         8|
+----------+---+----------+

In [42]:
# # Check describe option to similar pandas
print(SC_df.describe())
print(" "*30)
print(SC_df.describe().show())

DataFrame[summary: string, Name: string, Age: string, Experience: string]

+-------+----------+-----------------+------------------+
|summary|      Name|              Age|        Experience|
+-------+----------+-----------------+------------------+
|  count|         3|                3|                 3|
|   mean|      null|70.33333333333333| 6.666666666666667|
| stddev|      null|3.511884584284246|1.5275252316519468|
|    min|      Modi|               67|                 5|
|    max|xi jinping|               74|                 8|
+-------+----------+-----------------+------------------+

None

In [50]:
# Adding New Column
SC_df = SC_df.withColumn("After two Year Age",SC_df["Age"]+3)
print(SC_df.show())

+----------+---+----------+------------------+
|      Name|Age|Experience|After two Year Age|
+----------+---+----------+------------------+
|     Trump| 74|         5|                77|
|      Modi| 70|         7|                73|
|xi jinping| 67|         8|                70|
+----------+---+----------+------------------+

None

In [53]:

SC_df = SC_df.drop("After two Year Age")       # Dropping Single Column
SC_df = SC_df.drop("After two Year Age","Age") # Dropping Multiple Columns
print(SC_df.show())

+----------+----------+
|      Name|Experience|
+----------+----------+
|     Trump|         5|
|      Modi|         7|
|xi jinping|         8|
+----------+----------+

None

In [55]:
# Rename the columns
SC_df = SC_df.withColumnRenamed("Name","Name_")
SC_df.show()

+----------+----------+
|     Name_|Experience|
+----------+----------+
|     Trump|         5|
|      Modi|         7|
|xi jinping|         8|
+----------+----------+

In [63]:
# to get the column names
print(SC_df.columns)

['Name', 'Experience']
+----------+----------+
|      Name|Experience|
+----------+----------+
|     Trump|         5|
|      Modi|         7|
|xi jinping|         8|
+----------+----------+

pyspark.sql.column.Column

In [80]:
print(type(SC_df.columns))

<class 'list'>

<class 'list'>